.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: black;
}

.inverse {
  background-color: #B01C2E;
  color: #000000;
  text-shadow: 0 0 0 #333;
}

.foo {
  overflow-y: hidden;
}

/* .code-background{
  background: #e7e8e2;
  border-radius: 3px;
  padding: 4px;
} */

del {
  color: #E5E5E5;
  text-decoration: none;
}
