@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i|IBM+Plex+Mono:400,500);
@import url(//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css);

body {
  font-family: 'Fira Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

.remark-slide-number {
  position: inherit;
}

.remark-slide-content {
  color: #474747;
  font-weight: 300;
  font-weight: 300;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: black;
}

.yt{
  color: #B01C2E;
  font-size: 80%;
}

.foo {
  overflow-y: hidden;
}

.cb{
  /*background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
}

del {
  color: #E5E5E5;
  text-decoration: none;
}

.col-left {
  float: left;
  width: 30%;
}

.col-center {
  float: none;
  width: 30%;
}

.col-right {
  float: right;
  width: 30%;
}

.Large p {
  font-size: 30px;
}

.border {  
  border-width: 2px;  
  border-color: black;   
  border-style: solid; 
}